<?xml version="1.0"?>
<launch>

  <!-- roslaunch arguments -->
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>

  <group ns="vulcano" >

    <!-- vulcano_state: loads robot description and launches robot_state_publisher -->
    <include file="$(find vulcano_description)/launch/vulcano_state.launch" />
           
    <!-- Call a python script to the run a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model vulcano -param robot_description"/>
  
    <!-- control launch files -->
    <include file="$(find vulcano_control)/launch/vulcano_control.launch" />
    <include file="$(find vulcano_torso_control)/launch/vulcano_torso_control.launch" />
    <include file="$(find vulcano_base_control)/launch/vulcano_base_control.launch" />
    
    <!-- state_publisher launch file: launches joint_state controllers -->
    <include file="$(find vulcano_gazebo)/launch/state_publisher.launch" />

  </group>
  <!-- launch pad -->
  <!-- include file="$(find vulcano_pad)/launch/vulcano_pad.launch" / -->

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/> <!--value="$(find vulcano_torso_gazebo)/worlds/vulcano_torso.world"/-->
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>


   <node type="rviz" name="rviz" pkg="rviz" />
</launch>
