<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAcd .ML file to parameter server -->
  <rosparam file="$(find vulcano_torso_control)/config/controllers.yaml" command="load"/>

  <!-- load the controllers --> <!-- TODO: review namespaces -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="--namespace=/vulcano torso_controller --shutdown-timeout 1"/>
    
 <!--<node name="torso_spawner" pkg="controller_manager" type="controller_manager" args="spawn torso_controller" respawn="false" output="screen"/>-->

</launch>

