<?xml version="1.0"?>
<launch>

  <!-- roslaunch arguments -->
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="gazebo_world" default="vulcano_base_office"/>

  <include file="$(find vulcano_base_gazebo)/launch/vulcano_base.launch">
     <arg name="debug" value="$(arg debug)"/>
     <arg name="gui"   value="$(arg gui)"/>
     <arg name="gazebo_world" value="$(arg gazebo_world)"/>
  </include>

</launch>
